a {
  color: var(--black);
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  text-decoration: none;
}

.chats {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.chat-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.chat-info {
  position: absolute;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45px;
}

.chat-info h2 {
  font-size: 18px;
  font-weight: 600;
}

.chat-info span {
  font-size: 15px;
  font-weight: 400;
  color: var(--deepgray);
}

.chat-user {
  display: flex;
  justify-content: start;
  align-items: center;
}

.chat-user i {
  font-size: 15px;
  color: var(--gray);
  margin-left: 10px;
}

.chat-date {
  font-size: 15px;
  color: var(--deepgray);
}

.new-chat {
  display: block;
  background-color: var(--red);
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
