.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: var(--padding);
}

.header-bar h1 {
  font-size: 30px;
  font-weight: 600;
}

.header-bar_icon {
  width: 200px;
  display: flex;
  justify-content: end;
}

.header-bar_icon i {
  font-size: 20px;
  margin-left: 30px;
}

.rotate-icon:hover {
  animation: rotateZ 1s linear infinite;
}

@keyframes rotateZ {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
