.nav-bar {
  background-color: rgb(241, 241, 241);
  width: 100%;
  border-top: 1px solid var(--lightgray);
  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 40px;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn a {
  font-size: 30px;
  color: var(--black);
  text-decoration: none;
}

.nav-icon {
  position: relative;
}

.nav-icon span {
  display: block;
  background-color: var(--red);
  width: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 18px;
  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav-icon:last-child {
  position: relative;
}
.nav-icon .dot {
  position: absolute;
  top: 2px;
  left: 28px;
}

@keyframes nav-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav-btn {
  transform: translateY(50px);
  opacity: 0;
  animation: nav-animation 0.3s ease-in-out forwards;
}

.nav-btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav-btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav-btn:last-child {
  animation-delay: 0.8s;
}
