@import "reset.css";
@import "variable.css";

/* screen */
@import "screen/chat.css";
@import "screen/chats.css";
@import "screen/friends.css";
@import "screen/login.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/view.css";

/* component */
@import "component/header-bar.css";
@import "component/nav-bar.css";
@import "component/status-bar.css";
@import "component/user-avatar.css";

body {
  border: 20px solid black;
  border-radius: 80px;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}
