#chat-screen {
  background-color: rgb(171, 193, 209);
  height: 200vh;
  width: 100%;
}

.chat-header_bar {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

.chat-header_column {
  width: 33%;
}

.chat-header_column:first-child i {
  font-size: 25px;
}

.chat-header_column:nth-child(2) {
  text-align: center;
}

.chat-header_column:nth-child(2) h1 {
  font-size: 30px;
  font-weight: 600;
  padding-right: 25px;
}

.chat-header_column:last-child {
  display: flex;
  justify-content: flex-end;
}

.chat-header_column:last-child i {
  margin-left: 30px;
  font-size: 25px;
}

.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
}

.chat-time {
  width: 230px;
  height: 30px;
  font-size: 12px;
  color: white;
  background-color: rgb(146, 163, 179);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.chat-time i {
  margin: 0 20px;
}

.chat-time span {
  margin-bottom: 3px;
}

.chat-message_friend {
  width: 100%;
  margin-top: 40px;
  display: flex;
  padding: 0 20px;
  animation: left-right 1s ease-in-out forwards;
}

@keyframes left-right {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.message-bubble {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 5px;
}

.chat-user_name {
  font-size: 20px;
  color: var(--deepgray);
  margin-bottom: 5px;
}

.message-info_never {
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.message-info_never span:first-child {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}

.message-info_never span:last-child {
  position: absolute;
  right: -35px;
  bottom: 0;
  font-size: 12px;
  color: var(--deepgray);
}

.chat-message_own {
  justify-content: flex-end;
  width: 100%;
  opacity: 0;
  animation: right-left 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes right-left {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.neverm-info_own {
  width: 80px;
  height: 30px;
  background-color: var(--yellow);
  border-radius: 10px;
  border-top-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.neverm-info_own span:first-child {
  position: absolute;
  left: -45px;
  bottom: 0;
  font-size: 12px;
  color: var(--deepgray);
}

.neverm-info_own span:last-child {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}

.chat-form {
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 10px 10px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.chat-form i {
  font-size: 20px;
  color: var(--gray);
}

.chat-form input {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid var(--gray);
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  padding: 18px;
  transition: all 0.3s ease-in-out;
}

.chat-form input::placeholder {
  color: var(--deepgray);
  font-size: 16px;
}

.chat-form input:focus {
  width: 98vw;
  transform: translateX(-11%) translateY(-80px);
}

.chat-form:focus-within {
  transform: translateY(80px);
}

.chat-form_column .arrow {
  color: var(--black);
  background-color: var(--yellow);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.chat-form .chat-form_column:last-child {
  width: 90%;
  position: relative;
}

.chat-form_column:first-child > i {
  margin-left: 10px;
}

.chat-form_column:last-child > i {
  position: absolute;
  right: 15px;
  top: 9px;
}

#smile-icon {
  right: 55px;
  top: 15px;
}
